/**
 * @name Syra
 * @author lyorety
 * @version 0.0.3
 * @description Syra dark theme
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://ashunii.github.io/Syra_Discord_Theme/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: none;
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
